* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EAEDF5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header styling*/

header {
    
    background-color: #142638;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*align-items: center;*/
}

header h1 {
    background-color: #72C0C9;
    padding-left: 80px;
    padding-right: 10px;
    font-weight: 500;
    text-align: end;
    /*flex: 0 0 25%;*/
    margin: 10px 0px;
}

header nav {
    margin: 5px 50px 5px 0;
    /*flex: 0 0 45%;*/
    align-self: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 10px 10px;
    color: #72C0C9;        
    text-decoration: none;
    padding: 2px 10px;
    border-bottom: 2px solid #72C0C9;
    }

header nav ul li a:hover {
   color: #142638;
   background-color: #72C0C9; 
}
/* hero styling */

.hero {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("https://images.unsplash.com/photo-1590959270836-b73d84ccb297?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80");
    align-items: center;
}

.hero img {
    border-radius: 50%;
    height: 250px;
    margin-left: 50px;

}

.hero h2 {
    background-color: #72C0C9;
    color: #142638;
    padding: 0 5px;
    align-self: flex-end;
    margin-bottom: 60px;
    font-weight: 500;
    margin-right: 50px;
}

/* about me styling */

.about h3,
.skills h3 {
    
    font-size: 40px;
    font-weight: 500;
    color: #295C89;
    border-right: 4px solid #295C89;
    text-align: right;
    /*justify-content: flex-end;*/
    align-items: center;
    flex: 0 0 15%;
    padding-right: 10px;
    margin-left: 10px;
}

.about p,
.skill-list p,
.description p {
    /*justify-content:flex-start;*/
    color: #295C89;
    flex: 0 0 75%;
    margin-right: 50px;
}

/* skills styling */

.skill-list {
    /*display: flex;*/
    flex-wrap: wrap;
    align-items: center;
    flex: 0 0 75%;
    justify-content: space-around;
    margin-right: 50px;
    align-self: center;
}

.skill-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    list-style: none;
}
    
.skills nav ul li {
    margin: 10px 10px;
    /* color: #295C89;         */
    text-decoration: none;
    padding: 2px 10px;
    flex: 0 0 25%;
    /* font-size: xx-large; */
    }

.skills i {
    font-size: xx-large;
    color: #295C89;
}

/* work section */

.work-div h3 {
    font-size: 40px;
    font-weight: 500;
    color: #295C89;
    border-right: 4px solid #295C89;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 15%;
    padding-right: 10px;
    margin-left: 10px;
    /* height: 1500px; */
    
}

.img-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0 75%;
    margin-right: 50px;
    align-content: space-between ;
}

.img {
    background-size: cover;
    flex: 5 0 100%;
    flex-wrap: wrap;
    border: 5px solid #72C0C9;
    display: flex;
    height: 375px;
    align-items: flex-end;
    text-decoration: none;
}

.project {
    background-size: cover;
    flex: 5 0 100%;
    flex-wrap: wrap;
    /* border: 5px solid #72C0C9; */
    flex-wrap: wrap;
    display: flex;
    height: 375px;
    align-items: flex-end;
    text-decoration: none;
    margin-bottom: 125px;
}

.description {
    flex: 5 0 100%;
    /* border: 5px solid #72C0C9; */
    display: block;
    height: 375px;
    align-items: flex-end;
    text-decoration: none;
    text-align: center;
}

.description i {
    margin: 10px 10px;
    color: #295C89;        

    padding: 2px 10px;
    
    flex: 0 0 25%;
    font-size: xx-large;
}

.description i:hover {
    color: #EAEDF5;
    background-color: #295C89;
}

.secondary-img {
    background-size: cover;
    display: flex;
    border: 5px solid #72C0C9;
    height: 225px;
    flex: 0 0 49.5%;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
}

.first-img {
    background-image: url(../images/Lettuce.png);
}

.second-img {
    background-image: url(../images/DiscoverUp.png);    
}

.third-img {
    background-image: url(../images/Weather.png);
}

.fourth-img {
    background-image: url(../images/Tech.png);
}

.fifth-img {
    background-image: url(../images/Scheduler.png);
}

/* .img:hover {
    opacity: 0.5;
} */

.img-info {
    background: #72C0C9;
    /* align-content: flex-end;
    flex: 0 0 11%; */
    height: 50px;
    width: max-content;
    padding: 5px;
    margin-bottom: 20px;
    line-height: 1.5;
    /* display: flex;
    flex-wrap: wrap; */
    align-items: center;
}

.img-info h4 {
    font-weight: 500;
    flex: 0 0 100%;
    color: #295C89;
}

.img-info p {
    font-weight: 500;
    font-size: 10px;
    color: #295C89;
}

/* contact me styling */

.contact h3 {
    font-size: 40px;
    font-weight: 500;
    color: #295C89;
    border-right: 4px solid #295C89;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 15%;
    padding-right: 10px;
    margin-left: 10px;
}

.contact nav {
    /*display: flex;*/
    flex-wrap: wrap;
    align-items: center;
    flex: 0 0 75%;
    justify-content: space-around;
    margin-right: 50px;
    align-self: center;
}

.contact nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    /*width: 100%;*/
}

.contact nav ul li a {
    margin: 10px 10px;
    color: #295C89;        
    text-decoration: none;
    padding: 2px 10px;
    border-bottom: 2px solid #295C89;
    flex: 0 0 25%;
    font-size: xx-large;
    }

.contact nav ul li a:hover {
    color: #EAEDF5;
    background-color: #295C89;
}

/* flexbox */

.flex-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

/* Media query for smaller desktop*/

@media screen and (max-width: 980px) {
    
    header h1 {
        flex: 0 0 100%;
        text-align: center;
    }

    header nav {
        flex: 0 0 100%;
        padding-bottom: 10px;
    }
    
    .contact h3 {
      border-right: none;
      border-bottom: 4px solid #72C0C9;
      flex: 1 100%;
      text-align: center;
      margin: 0px 250px;
  }  

  .contact nav {
      flex: 1 100%;
      padding-top: 20px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .about h3 {
      border-right: none;
      border-bottom: 4px solid #72C0C9;
      flex: 1 100%;
      text-align: center;
      margin: 0px 250px;
    }

    .about p,
    .skills p {
        flex: 1 100%;
        margin-left: 50px;
        margin-top: 20px;
    }

    .work-div {
        flex-direction: column;
    }
    
    .work-div h3,
    .skills h3 {
      border-right: none;
      border-bottom: 4px solid #72C0C9;
      flex: 1 100%;
      text-align: center;
      margin: 0px 250px;
    }

    .img {
        flex: 1 100%;
        align-items: stretch;
        margin-left: 50px;
        margin-top: 20px;
    }

    .img-div {
        flex: 1 100%;
        align-items: stretch;
        margin-left: 50px;
        margin-top: 20px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
    header h1{
        flex: 100%;
    }

    .hero img {
        margin-left: 10px;
    }

    .hero h2 {
        margin-right: 10px;
        width: 40%;
    }
}


